<p style="color: green"><%= notice %></p>

<%= render @stave %>

<div>
  <%= link_to "Edit this stave", edit_stave_path(@stave) %> |
  <%= link_to "Back to staves", staves_path %>

  <%= button_to "Destroy this stave", @stave, method: :delete %>
</div>
