<p style="color: green"><%= notice %></p>

<%= render @stafe %>

<div>
  <%= link_to "Edit this stave", edit_stafe_path(@stafe) %> |
  <%= link_to "Back to staves", staves_path %>

  <%= button_to "Destroy this stave", @stafe, method: :delete %>
</div>
