<h1>Stocks - <% @sotcks %></h1>

<table border=1 cellspacing=0>

<tr align=left>
  <th>stock</th>
  <th>coef</th>
  <th>price</th>
  <th>stave</th>
  <th>date</th>
</tr>

<% @stocks.each do |stock| %>
<tr>
  <td>
    <a href="/stocks/<%= stock.stock %>">
      <%= stock.stock.upcase %>
    </a>
  </td>
  <td><%= stock.coef.round(2) %></td>
  <td><%= stock.price %></td>
  <td><%= stock.stave %></td>
  <td><%= stock.date %></td>
</tr>
<% end %>

</table>
