<h1>Stocks - SZ</h1>

<h2>Date - STAVE - <%= @stavs_date %></h1>

<table border=1 cellspacing=0>
  <tr align=left>
    <th>Stock/SZ</th>
    <th>Loh</th>
    <th>One</th>
    <th>Price</th>
    <th>boll3</th>
    <th>stav3</th>
    <th>boll1</th>
    <th>stav1</th>
    <th>Loha</th>
    <th>Year</th>
  </tr>

  <% @stocks_stavs.each do |stock| %>
  <tr>
    <td><%= stock.stock.upcase %></td>
    <td>
      <a href="/stocks/<%= stock.stock %>/<%= 857 %>">
        <%= stock.loha.round(2) %>
      </a>
    </td>
    <td>
      <a href="/stocks/<%= stock.stock %>/<%= 250 %>">
        <%= stock.year.round(2) %>
      </a>
    </td>
    <td><%= stock.price %></td>
    <td><%= stock.boll3 %></td>
    <td><%= stock.stav3 %></td>
    <td><%= stock.boll1 %></td>
    <td><%= stock.stav1 %></td>
    <td><%= stock.lohas %></td>
    <td><%= stock.years %></td>
  </tr>
  <% end %>

</table>

<table>
  <tr>
    <%# <th>操作实战</th> %>
  </tr>
  <tr>
    <td>
      <%# <img src="stave/stave.png" style="max-width: 100%;"> %>
    </td>
  </tr>
</table>
