<h1>Stocks - SZ</h1>

<h2><%= @stavs_date %></h2>

<table>

<td><table border=1 cellspacing=0>
  <tr>
    <th>Stock/SZ</th>
    <th>Loh</th>
    <th>One</th>
    <th>Price</th>
    <th>boll3</th>
    <th>stav3</th>
    <th>STAVE</th>
  </tr>
  <% @stocks_stavs.each do |stock| %>
  <tr>
    <td>
      <a href="/stocks/<%= stock.stock %>">
        <%= stock.stock.upcase %>
      </a>
    </td>
    <td>
      <a href="/stocks/<%= stock.stock %>/<%= 857 %>">
        <%= stock.loha.round(2) %>
      </a>
    </td>
    <td>
      <a href="/stocks/<%= stock.stock %>/<%= 250 %>">
        <%= stock.year.round(2) %>
      </a>
    </td>
    <td><%= stock.price %></td>
    <td align=right><%= stock.boll3 %></td>
    <td align=right><%= stock.stav3 %></td>
    <td>
      <a href="/assets/stave/stave.png">
        <%= stock.lohas %>
      </a>
    </td>
  </tr>
  <% end %>
</table></td>

<% if device == "desktop" %>
<td valign=top align=left>
  <%# <img src="/assets/stave/stave.png" style="max-width: 88%;"> %>
</td>
<% end %>

</table>