<h1><%= @stock.upcase %></h1>

<h2>Boll'in Bands - <%= @boll[0][:name] %> = <%= @boll[0][:data][-1][1]%></h2>
<h2>Boll'in Bands - <%= @boll[1][:name] %> = <%= @boll[1][:data][-1][1]%></h2>
<h2>Boll'in Bands - <%= @boll[2][:name] %> = <%= @boll[2][:data][-1][1]%></h2>
<h2>Boll'in Bands - <%= @boll[3][:name] %> = <%= @boll[3][:data][-1][1]%></h2>

<%= line_chart @boll.map {
  |stock| {
    name: stock[:name], 
    data: stock[:data]
  }
} %>

<h2>Lohas Staves</h2>

<%= line_chart @lohas.map {
  |stave| {
    name: stave[:name], 
    data: stave[:data]
  }
} %>