<h1><%= @stock.upcase %></h1>

<h2>Stock Staves
<% if device == "desktop" %>
- <%= @stave[0][:name] %> = <%= @stave[0][:data][-1][1] %>
- <%= @stave[1][:name] %> = <%= @stave[1][:data][-1][1] %>
- <%= @stave[2][:name] %> = <%= @stave[2][:data][-1][1] %>
- <%= @stave[3][:name] %> = <%= @stave[3][:data][-1][1] %>
- <%= @stave[4][:name] %> = <%= @stave[4][:data][-1][1] %>
- <%= @stave[5][:name] %> = <%= @stave[5][:data][-1][1] %>
<% end %>
</h2>

<%= line_chart @stave.map {
  |stave| {
    name: stave[:name], 
    data: stave[:data]
  }
} %>

<h2>Boll'in Bands
<% if device == "desktop" %>
- <%= @boll[0][:name] %> = <%= @boll[0][:data][-1][1] %>
- <%= @boll[1][:name] %> = <%= @boll[1][:data][-1][1] %>
- <%= @boll[2][:name] %> = <%= @boll[2][:data][-1][1] %>
- <%= @boll[3][:name] %> = <%= @boll[3][:data][-1][1] %>
<% end %>
</h2>

<%= line_chart @boll.map {
  |stock| {
    name: stock[:name], 
    data: stock[:data]
  }
} %>