<div id="<%= dom_id stave %>">
  <p>
    <strong>Stock:</strong>
    <%= stave.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= stave.price %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= stave.date %>
  </p>

  <p>
    <strong>Years:</strong>
    <%= stave.years %>
  </p>

</div>
